/* Colors */
:root {
    --crust: #010409;
    --crust-hover: #15191f;
    --surface: #151b23;
    --base: #0d1117;
    --text: azure;
    --subtext: darkgray;
    --overlay: #cf3777;
    --overlay-hover: #d7417d;
    --border: #313840;
    --error: #f85149;
    --success: #08c708;
    --weak: #d75c13;
    --medium: #fff051;
    --link: #4493f8;
    --tooltip: #34383a;

    --radius: 0.45rem;
}

body {
    background-color: var(--base);
    font-family: "Segoe UI", sans-serif;
    color: var(--text);
    padding: 0;
    margin: 0;
}


/* Nav */
nav {
    background-color: var(--crust);
    display: flex;
    gap: 1rem;
    padding: 0 3rem;
    align-items: normal;
    justify-content: normal;
}

/* Nav > Nav Content */
nav .nav-content {
    padding: 0.6rem 0.75rem 1rem;
    margin-top: 0.5rem;
}

nav .nav-content a {
    border-radius: var(--radius);
    padding: 0.5rem;
}

nav .nav-content a:hover {
    background-color: var(--crust-hover);
    cursor: pointer;
}

nav .nav-content.selected {
    border-bottom: 2px solid var(--overlay);
    padding-bottom: 0.5em;
}

/* Nodes */
h1 {
    text-align: center;
    margin: 3.5vh;
}

img {  border-radius: var(--radius); }

hr {
    border-radius: var(--radius);
    border: none;
}

a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

/* Nodes > Select */
select {
    background-color: var(--surface);
    color: azure;
    border: 0.1rem solid var(--border);
    border-radius: var(--radius);
    outline-style: none;
    height: 2.75rem;
}

select:hover {
    cursor: pointer;
    background-color: var(--surface);
}

/* Nodes > Button */
button {
    background-color: var(--overlay);
    border-radius: var(--radius);
    border: 0;
    height: 2rem;
    color: var(--text);
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: var(--overlay-hover);
}


/* Classes */
.hide {
    display: none;
}

.mg0 {
    margin: 0;
}

/* Classes > Containers */
.container {
    border: 0.0625rem solid var(--border);
    border-radius: var(--radius);

}

.center-container {
    margin: 3vh 20vw;
}

.inside-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Classes > Modal Container */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

/* Classes > Modal Container > Modal */
.modal {
    background-color: var(--surface);
    border-radius: var(--radius);
    border: 0.1rem solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vw 40vw;
    padding: 2vh 0.1vw 1vh;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Classes > Modal Container > Modal > Animation */
.modal.show {
    opacity: 100%;
    transform: translateY(0);
}

.modal.hide {
    opacity: 0;
    transform: translateY(-50px);
}

/* Classes > Modal Container > Modal > Content */
.modal-content {
    display: flex;
    flex-direction: column;
    margin: 0 1.5vw 2vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.modal button {
    margin: 0.75rem auto 0;
    width: 15vw;
}


/* Classes > Tooltip */
.tooltip {
    position: relative;
    margin: 2.5vh 2vw 2.5vh 87.5vw;
}

/* Classes > Tooltip > Message */
.tooltip .tooltip-message {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    background-color: var(--tooltip);
    color: var(--text);
    text-align: center;
    border-radius: var(--radius);
    position: absolute;
    z-index: 1;
    padding: 0.4rem;
}

/* Classes > Tooltip (Hover) */
.tooltip:hover {
    cursor: pointer;
}

/* Classes > Tooltip > Message (Hover) */
.tooltip:hover .tooltip-message {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, visibility 0s 0s;
}

@media only screen and (max-width: 1025px) {
    /* Nav */
    nav {
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0 0.5rem;
    }
    /* Nav > Nav Content */
    nav .nav-content a {
        font-size: 1.3rem;
    }
    /* Nodes */
    p, li {
        font-size: 1.2rem;
    }
    .modal {
        margin: 4vw 10vw;
    }
    .modal button {
        width: 50vw;
    }
}
