:root {
    --crust: #010409;
    --crust-hover: #15191f;
    --surface: #151b23;
    --base: #0d1117;
    --text: azure;
    --subtext: darkgray;
    --overlay: #cf3777;
    --overlay-hover: #d7417d;
    --border: #313840;
    --error: #f85149;
    --success: #73c275;
    --link: #4493f8;
    --tooltip: #34383a;
}

.hide {
    display: none;
}

body {
    background-color: var(--base);
    font-family: 'Segoe UI', sans-serif;
    color: var(--text);
    padding: 0;
    margin: 0;
}

a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

nav {
    background-color: #010409;
    display: flex;
    gap: 0.4rem;
    margin: 0;
    padding: 0 1.5rem;
    justify-content: center;
    align-items: center;
}

nav > div {
    padding: 0.6rem 0 1rem;
    margin-top: 0.5rem;
}

nav a {
    border-radius: 0.35rem;
    padding: 0.5rem;
}

nav a:hover {
    background-color: var(--crust-hover);
    cursor: pointer;
}

nav > div.selected {
    border-bottom: 2px solid var(--overlay);
    padding-bottom: 0.5em;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--surface);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vw 40vw;
    padding: 2vh 0.1vw 1vh;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.modal.show {
    opacity: 100%;
    transform: translateY(0);
}

.modal.hide {
    opacity: 0;
    transform: translateY(-50px);
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: 0 1.5vw 2vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.modal button {
    margin: 0.75rem auto 0;
    background-color: var(--overlay);
    border-radius: 0.25vw;
    border: 0;
    height: 2rem;
    color: var(--text);
    font-weight: bold;
    width: 15vw;
}

.modal button:hover {
    cursor: pointer;
    background-color: var(--overlay-hover);
}

@media (min-width: 769px) {
    nav {
        gap: 1rem;
        padding: 0 3rem;
        align-items: normal;
        justify-content: normal;
    }
    nav > div {
        padding: 0.6rem 0.75rem 1rem;
    }
}

