#tries {
    background-color: var(--surface);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--border);
    margin: 2.5vh 2vw 2.5vh 87.5vw;
    padding: 2vh;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 2vh 7.5vw;
    justify-items: center;
    justify-content: center;
}

.card-container {
    max-width: 100vw;
    min-width: 10vw;
    max-height: 20vh;
    min-height: 20vh;
    width: 10vw;
    box-sizing: border-box;
    margin: 2vh 1.5vw;
    border-radius: .7rem;
}

.card-container:hover {
    cursor: pointer;
    background-color: var(--crust-hover);
}

.card-hide {
    background-color: var(--crust);
}

.card-hide img {
    opacity: 0;
}

#cards img {
    max-width: 10vw;
    min-width: 10vw;
    max-height: 20vh;
    min-height: 20vh;
    border-radius: .5rem;
    margin: 0;
    padding: 0;
}

.card-selected {
    background-color: var(--crust-hover);
}

.card-found {
    outline: 0.2rem solid var(--success);
    animation: foundAnimation 0.7s ease forwards;
}

img.showAnimation {
    animation: appearAnimation 0.7s ease;
}

img.hideAnimation {
    animation: appearAnimation 0.7s ease reverse;
}

div.showAnimation {
    animation: coverAnimation 0.7s ease;
}

div.hideAnimation {
    animation: coverAnimation 0.7s ease reverse;
}

@keyframes appearAnimation {
    from {
        transform: rotateY(-180deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg);
        opacity: 100%;

    }
}

@keyframes coverAnimation {
    from {
        background-color: var(--crust);
    }
    to {
        background-color: transparent;
    }
}

@keyframes foundAnimation {
    from {
        opacity: 100%;
    }
    to {
        opacity: 60%;
    }
}
