#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    max-width: 100vw;
    max-height: 20vh;
    min-height: 20vh;
    box-sizing: border-box;
    margin: 2vh 2.5vw;
    border-radius: .7rem;
}

.card-container:hover {
    cursor: pointer;
    background-color: #15191f;
}

.card-hide {
    background-color: #010409;
}

.card-hide img {
    opacity: 0;
}

#cards img {
    max-width: 100vw;
    min-width: 10vw;
    max-height: 20vh;
    min-height: 20vh;
    border-radius: .5rem;
    margin: 0;
    padding: 0;
}

.card-selected {
    background-color: #15191f;
}

.card-found {
    outline: 0.2rem solid #97db6d;
    animation: foundAnimation 0.7s ease forwards;
}

img.showAnimation {
    animation: appearAnimation 0.7s ease;
}

img.hideAnimation {
    animation: appearAnimation 0.7s ease reverse;
}

div.showAnimation {
    animation: coverAnimation 0.7s ease;
}

div.hideAnimation {
    animation: coverAnimation 0.7s ease reverse;
}

@keyframes appearAnimation {
    from {
        transform: rotateY(-180deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg);
        opacity: 100%;

    }
}

@keyframes coverAnimation {
    from {
        background-color: #010409;
    }
    to {
        background-color: transparent;
    }
}

@keyframes foundAnimation {
    from {
        opacity: 100%;
    }
    to {
        opacity: 60%;
    }
}
