main {
    padding: 1vw 3vw;
}

h1 {
    text-align: left;
    margin: 0.5vh 0 0 0;
}

img {
    max-width: 50vw;
}


@media only screen and (max-width: 1025px) {
    main.container.inside-center-container {
        border: 0;
        display: flex;
        margin: 3vh 4vw;
    }
    h1 {
        text-align: center;
    }
    img {
        max-width: 90vw;
    }
}