main {
    display: flex;
    padding: 0.5vw 3vw;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

#set-preview {
    max-width: 40vw;
    max-height: 75vh;
    border-radius: 0.5rem;
}

main > section:first-child select:hover {
    cursor: pointer;
}

main > section:first-child select {
    margin-top: 1rem;
    padding: 0.7rem 0 0.75rem 0.5rem;
    width: 25%;
    background-color: #262c36;
    color: azure;
    border: 0.1rem solid #3d444d;
    border-radius: 0.5rem;
}

@media (min-width: 769px) {
    main {
        margin: 3vw 20vw;
    }
    main > section {
        padding: 0.75rem 1.5rem;
    }
    main > section:first-child {
        border: 0.0625rem solid #3d444d;
        border-radius: 0.5rem;
        width: 72.5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    main > section:first-child label {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    main > section:last-child {
        border: 0.0625rem solid #3d444d;
        border-radius: 0.5rem;
        width: 22.5%;
        margin-left: 2.5%;
    }

    main > section:last-child > h2  {
        margin: 0;
    }
    main > section:last-child > h3 {
        margin-top: 0.25rem;
        font-style: italic;
        font-weight: normal;
        color: darkgray;
    }

}