/* Global Container */
#global-container {
    display: flex;
    padding: 0.5vw 3vw;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

#global-container section {
    padding: 1rem 1.5rem;
}


/* Global Container > Game Selection */
#selection-container {
    display: flex;
    width: 72.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

/* Global Container > Game Selection > Interactions */
#selection-container .selector-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#selection-container .selector-container select {
    margin-top: 1rem;
    padding: 0.7rem 0 0.75rem 0.5rem;
    width: 25%;
}

/* Global Container > Game Selection > Preview */
#set-preview {
    max-width: 40vw;
    min-width: 40vw;
    max-height: 75vh;
}


/* Global Container > Profile */
#profile-container {
    width: 22.5%;
    margin-left: 2.5%;
    display: block;
}

#profile-container button {
    width: 100%;
    margin: 0.5rem 0 0;
}

#profile-container > h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-style: italic;
    font-weight: normal;
    color: var(--subtext);
}

#profile-container hr {
    height: 0.15rem;
    background-color: var(--border);
}

/* Global Container > Profile > History */
section#history {
    margin: 0;
    padding: 0;
}

/* Global Container > Profile > History > Game history */
#history .history-game {
    max-width: 10vw;
    max-height: 5vh;
    border-radius: var(--radius);
    border: 0.0625rem solid var(--border);
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem ;
}

#history .history-game:hover {
    background-color: var(--surface);
    cursor: pointer;
}


@media only screen and (max-width: 1025px) {
    main.center-container {
        margin: 0;
    }
    /* Global Container */
    #global-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5vw 0;
        margin: 0;
    }
    /* Global Container > Game Selection */
    #selection-container.container {
        display: flex;
        justify-content: normal;
        width: 90vw;
        border: 0;
        margin: 2vh 0 3vh 0;
        padding: 0;
    }
    /* Global Container > Game Selection > Interactions */
    #selection-container .selector-container {
        width: 100%;
        justify-content: center;
        gap: 1.5rem;
    }

    #selection-container .selector-container select {
        padding: 0.7rem 0 0.75rem 0.5rem;
        width: 80%;
    }

    /* Global Container > Game Selection > Preview */
    #set-preview {
        max-width: 100%;
        max-height: 100vh;
    }

    /* Global Container > Profile */
    #profile-container.container {
        width: 70vw;
        margin: 0 10%;
        border: 0;
        display: block;
    }

    section#history {
        display: flex;
        align-items: center;
    }

    #history .history-game {
        max-width: 100%;
        max-height: 5vh;
    }
}







