@import url('../animations.css');
body {
    height: 100vh;
}


/* Form */
form {
    background-color: var(--surface);
    border-radius: var(--radius);
    border: 0.1rem solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 4vw 40vw;
    padding: 2vh 0.1vw;
}

/* Form Content */
form button {
    margin: 0.5rem 0 0;
}

a.link {
    font-size: 0.9rem;
    text-align: end;
    color: var(--link);
    font-weight: bold;
    margin: 0 1.5vw 0;
}


/* Form Content > Groups */
form .input-container {
    display: flex;
    flex-direction: column;
    margin: 0 1.5vw 2vh;
}

form .input-container label {
    margin-bottom: 0.6rem;
}


/* Form Content > Groups > Inputs */
form .input-container input {
    background-color: var(--base);
    border-radius: var(--radius);
    border: 0.1rem solid var(--border);
    height: 2rem;
    color: var(--text);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

form .input-container input:focus {
    outline: none;
    border-color: var(--overlay);
}


/* Form Content > Groups > Messages */
form .input-container .message-container {
    display: flex;
    align-items: center;
    margin: 0.35rem 0.5rem 0;
}

form .input-container .message-container img {
    margin-right: 0.2rem;
    height: 1.4rem;
}

form .input-container .message-container p {
    margin: 0 0.5rem 0;
    font-size: 0.7rem;
}

form .input-container .error-message {
    color: var(--error);
}

form .input-container .success-message {
    color: var(--success);
}


/* Form Content > Score */
form .password-score hr {
    width: 5rem;
    height: 0.3rem;
    background-color: var(--base);
}

form .password-score {
    margin: 0 2vw 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1025px) {
    /* Form */
    form {
        margin: 4vw 12vw;
        padding: 2vh 3vw;
    }
}
