/* Table */
table {
    border-spacing: 2rem 1rem;
    margin: 1vh 0;
    background-color: var(--surface);
    border: 0.12rem solid var(--border);
    border-radius: var(--radius);
}


/* Table > Table Head */
thead {
    border-bottom: 0.12rem solid var(--border);
}

/* Table > Table Rows (Except Head) */
.sb-row {
    color: var(--subtext);
    font-weight: normal;
}

.sb-row:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1025px) {
    table#scoreboard {
        margin: 1vh 5vw;
        width: 90vw;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
    }
}