/* Table */
table {
    border-spacing: 2rem 1rem;
    margin: 1vh 0;
    background-color: var(--surface);
    border: 0.12rem solid var(--border);
    border-radius: 0.5rem;
}


/* Table > Table Head */
thead {
    border-bottom: 0.12rem solid var(--border);
}

/* Table > Table Rows (Except Head) */
.sb-row {
    color: var(--subtext);
    font-weight: normal;
}

.sb-row:hover {
    cursor: pointer;
}
